/*  FONTS  */

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

/* Table small rows */
.boncode_table_small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14pt;
    flex: 1 0 auto;
}

body .boncode_table_small table tbody>tr:nth-child(odd),
body .boncode_table_small table tbody>tr:nth-child(odd) {
    background: var(--widget-background-color-alternate);
}

.boncode_table_small span {
    height: auto;
    width: auto;
    text-align: left;
    vertical-align: center;
}

.boncode_table_small table {
    font-size: 9pt;
    text-align: left;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.boncode_table_small table td {
    margin: 0;
    padding: 0px 0px 0px 5px;
    line-height: 1.6em;
}


/* Table large rows */
.boncode_table_large, .boncode_table_large tbody {
    flex: 1;
    background-color: var(--widget-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    table-layout: fixed;
    white-space: normal!important;
}

.boncode_table_large thead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    background-color: var(--widget-background-color);
    border-bottom: 1px solid #dddddd;
}

.boncode_table_large thead tr {
    display: flex;
    justify-content: space-between;
}

.boncode_table_large tbody tr:nth-child(odd of :not([style*="display: none"])) {
    background-color: var(--widget-background-color-alternate);
}

.boncode_table_large tbody {
    font-size: 9pt;
    text-align: left;
    table-layout: fixed;
    width: inherit;
    height: auto;
    border-collapse: collapse;
}

.boncode_table_large tbody tr {
    /*border-top: 1px solid var(--hairline-color);*/
    display: flex;
}

.boncode_table_large_label {
    width: 100px;
}

.boncode_table_large tbody td, .boncode_table_large thead th {
    line-height: 30px;
    min-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    flex: 1;
}

.boncode_table_large tbody td.flex_content {
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.boncode_table_large tbody td.wrap_text {
    display: flex;
    white-space: pre-wrap;
    line-height: normal;
    flex-direction: column;
}

.tag_container {
    gap: 5px;
    display: flex;
    align-items: center
}

.boncode_table_large thead th::after {
    padding: 0 5px;
}

.boncode_table_large .selected {
    background-color: var(--filetree-selected) !important;
}

.boncode_table_large .selected2 {
    background-color: purple !important;
}

.boncode_list_heading {
    /*height: 20px;*/
    font-size: 11pt;
    line-height: 30px;
    color: var(--heading-color);
    font-weight: bold;
    flex: 0 1 20px;
    padding: 10px;
}

/* Filter */
.projects_table_filter {
    padding: 4px 8px;
    font-size: 9pt;
    min-height: 25px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #dddddd;
    color: inherit;
    outline: none;
    top: 0;
    background-color: var(--widget-background-color);
    position: sticky;
}

/* TODO remove .projects_table_filter after transition */
.table_searchbar, .searchbar {
    padding: 4px 8px;
    font-size: 9pt;
    min-height: 25px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #dddddd;
    color: inherit;
    outline: none;
    top: 0;
    background-color: transparent;
    position: sticky;
}

.projects_table_filter:focus {
    border-color: var(--text-color);
}

/* General */
.clickable_row:hover {
    cursor: pointer;
    background-color: var(--filetree-hover) !important;
}

.hover_row:hover {
    background-color: var(--filetree-hover) !important;
}

.clickable {
    cursor: pointer;
}

.hover_underline:hover {
    text-decoration: underline;
}

body.waiting * {
    cursor: progress;
}

.no_flex tbody td {
    flex: 0 !important;
    min-width: revert !important;
}

.no_flex tbody tr {
    display: revert !important;
}

.duplication_top_ten td, .duplication_top_ten th {
    flex: 0 !important;
    min-width: 46px !important;
}

.duplication_top_ten .middle, .duplication_top_ten .middle {
    min-width: 200px !important;
}

.duplication_top_ten .right, .duplication_top_ten .right {
    flex: 100 !important;
}

.deactivated {
    display: none !important;
}

.selected_item_tag {
    width: auto;
    height: auto;
    font-size: 10px;
    font-weight: 700;
    color: #666;
    background-color: #eaeaea;
    float: left;
    padding: 5px;
    padding-left: 10px;
    padding-right: 0;
    margin-right: 5px;
    margin: 2px;
}

.selected_item_tag a {
    padding: 4px;
    padding-right: 5px;
    margin-left: 3px;
    margin-right: 2px;
}

.selected_item_tag a img {
    width: 10px;
}

.properties_input_tags {
    flex: 2;
    color: #666;
    padding: 4px;
    min-height: 30px;
    height: auto;
    margin-right: 40px;
    margin-left: 4px;
    border: none;
    align-content: center;
}

.properties_textarea {
    flex: 3;
    margin: 8px;
    height: 46px;
    border: none;
    background-color: var(--background-color);
    padding: 7px 15px;
    color: var(--text-color);
    margin-right: 40px;
}


.properties_flex_row {
    display: flex;
    flex: 1;
}

.properties_flex_button_wrapper {
    flex: 1;
    vertical-align: middle;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.properties_flex_button {
    flex: 1;
    line-height: 1.7;
    background-color:#4e4e4e;
    height:46px;
    margin: 8px;
    float: right;
    margin-right: 40px;
    margin-left: 4px;
    cursor: pointer;
    color: var(--heading-color);
}

.properties_editor_button {
    background-color: var(--default-green);
    width: auto;
    height: auto;
    padding: 5px;
    border: none;
    opacity: 0.5;
    z-index: 1;
    cursor: pointer;
}

.properties_editor_button:hover {
    opacity: 0.8;
}

.properties_editor_button:active {
    opacity: 0.5;
}

.properties_editor_menu {
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    z-index: 1;
}


.properties_label {
    flex: 2;
    line-height: 62px;
    font-size: 10pt;
    color: var(--heading-color);
    padding-left: 40px;
}

.properties_label_tags {
    flex: 2;
    padding: 17px 0px;
    font-weight: 600;
    color: #444;
    padding-left: 40px;
}

.properties_header {
    flex: 1;
    font-weight: 500;
    font-size: 18px;
    margin: 4px;
    margin-left: 40px;
}

.properties_input {
   flex: 3;
   margin: 8px;
   height: 46px;
   border: none;
   background-color: var(--background-color);
   padding: 0px 15px 0px 15px;
   color: var(--text-color);
   margin-right: 40px;
}

.properties_input_vcs {
   flex: 2;
   color: #333;
   margin: 4px;
   margin-right: 40px;
   padding: 4px;
   padding-bottom: 5px;
   border: 1px solid #a9a9a9;
   line-height: 1.7;
}

.analyzer_properties_button:hover {
    border: 1px solid rgb(5,19,35);
}

.analyzer_properties_button:active {
    background-color: rgb(5,19,35);
}

.analyzer_properties_button img {
    width: 10px;
    margin-right: 7px;
}

.analyzer_properties_container {
    height: auto;
    flex: 3;
    position: relative;
}

.analyzer_properties_button {
    margin-left: 40px;
    padding: 5px;
    color: #eee;
    padding-right: 10px;
    padding-left: 10px;
    width: auto;
    background: #777;
    border: 1px solid rgba(0,0,0,0);
    height: auto;
    border-radius: 3px;
}

.analyzer_project_button {
    width: 12px;
    cursor: pointer;
    float: right;
    padding: 0px 4px;
}

.analyzer_project_button:hover {
    color: var(--text-color-accent);
}

.button_delete {
    color: var(--default-red);
}

.cell_permission_indicator {
    justify-content: center;
    display: flex;
}

.inline_icon_wrapper {
    flex: 0 0 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.toggle_icon {
    font-size: 13px;
}

.clickable_icon {
    border-radius: 50%;
    background-color: rgba(0,0,0,0);
    transition: background-color .1s ease-in-out;
}

.clickable_icon.disabled {
    background-color: var(--form-input-background-color-disabled);
}

.toggle_icon:hover {
    cursor: pointer;
}

.clickable_icon:hover {
    background-color: var(--icon-background-hover) !important;
    color: var(--text-color) !important;
    cursor: pointer;
}

.clickable_icon.disabled:hover {
    cursor: not-allowed;
    background-color: var(--form-input-background-color-disabled);
}

.clickable_icon:active {
    background-color: var(--icon-background-active);
}

.inline_tag_container {
    display: flex;
    gap: 5px;
    flex-direction: row;
}

.inline_tag {
    display: flex;
    gap: 7px;
    line-height: 20px;
    color: var(--text-color);
    background-color: var(--form-input-background-color);
    height: 20px;
    width: max-content;
    padding: 0px 7px;
    border-radius: 3px;
}

.inline_tag.clickable:hover {
    background-color: var(--form-input-background-color-hover);
}

.inline_tag.clickable:active {
    background-color: var(--form-input-background-color-active);
}

.inline_tag.rounded {
    border-radius: 15px;
}

.inline_tag.HANDLED, .inline_tag.Yes, .inline_tag.Low, .inline_tag.LOW {
    background-color: var(--default-green);
    color: var(--default-white-offset);
}

.inline_tag.PENDING, .inline_tag.Pending, .inline_tag.Moderate, .inline_tag.MEDIUM, .inline_tag.Medium {
    background-color: var(--default-yellow);
    color: black;
}

.inline_tag.LATE, .inline_tag.No, .inline_tag.High, .inline_tag.HIGH {
    background-color: var(--default-darkred);
    color: var(--default-white-offset);
}

.inline_tag.Critical, .inline_tag.CRITICAL  {
    background-color: var(--default-black);
    color: var(--default-white-offset);
}

.inline_tag.IDLE, .inline_tag.Unclassified {
    background-color: var(--default-blue);
    color: var(--default-white-offset);
}

.inline_tag.DELETED, .inline_tag.N\/A, .inline_tag.Basic {
    background-color: var(--default-grey);
    color: var(--default-white-offset);
}

.inline_tag.green {
    background-color: var(--default-green);
    color: var(--default-white);
}

.active_tag {
    outline: solid;
    outline-color: var(--default-grey);
    border-radius: 5px;
}

.widget_header {
    line-height: 30px;
    height: 60px;
    display: flex;

    position: sticky;
    top: 0;
    background-color: var(--widget-background-color);
}

