/*  FONTS  */

@font-face {
    font-family: 'Lato';
    src: url('/fonts/lato/Lato-Regular.ttf') format('truetype');
}

/* Table small rows */
.boncode_table_small {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14pt;
    flex: 1 0 auto;
}

body .boncode_table_small table tbody>tr:nth-child(odd),
body .boncode_table_small table tbody>tr:nth-child(odd) {
    background: var(--widget-table-secondary-row-color);
}

body.dark code[class*=language-],
body.dark .boncode_table_small table tbody>tr:nth-child(odd),
body.dark .boncode_table_small table tbody>tr:nth-child(odd) {
  background: var(--widget-table-secondary-row-color-dark);
}

.boncode_table_small span {
    height: auto;
    width: auto;
    text-align: left;
    vertical-align: center;
}

.boncode_table_small table {
    font-size: 9pt;
    text-align: left;
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

.boncode_table_small table td {
    margin: 0;
    padding: 0px 0px 0px 5px;
    line-height: 1.6em;
}


/* Table large rows */
.boncode_table_large, .boncode_table_large tbody {
    flex: 1;
    background-color: var(--widget-background-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    table-layout: fixed;
    white-space: normal!important;
}

.boncode_table_large thead {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: sticky;
    top: 0;
    background-color: var(--widget-background-color);
    border-bottom: 1px solid var(--menu-hairline);
}

body.dark .boncode_table_large thead {
    background-color: var(--widget-background-color-dark);
    border-bottom: 1px solid var(--menu-hairline-dark);
}


.boncode_table_large thead tr {
    display: flex;
    justify-content: space-between;
}



.boncode_table_large tbody {
    font-size: 9pt;
    text-align: left;
    table-layout: fixed;
    width: inherit;
    height: auto;
    border-collapse: collapse;
}

.boncode_table_large tbody tr {
    border-top: 1px solid var(--table-hairline);
    display: flex;
}

.boncode_table_large_label {
    width: 100px;
}

.boncode_table_large tbody td, .boncode_table_large thead th {
    line-height: 30px;
    min-width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 10px;
    flex: 1;
}

.boncode_table_large thead th::after {
    padding: 0 5px;
}

.boncode_table_large .selected {
    background-color: var(--leaf-selected) !important;
}

body.dark .boncode_table_large .selected {
    background-color: var(--leaf-selected-dark) !important;
}

body.dark .boncode_table_large tbody, body.dark .boncode_table_large thead {
    background-color: var(--widget-background-color-dark);
}

body.dark .boncode_table_large tbody tr {
    border-top: 1px solid var(--table-hairline-dark);
}

body.dark .boncode_table_large {
    background-color: var(--widget-background-color-dark);
}


/* Filter */

body.dark .projects_table_filter {
    border-color: var(--menu-hairline-dark);
    background-color: var(--widget-background-color-dark);
    color: var(--text-color-dark);
}

.projects_table_filter {
    padding: 4px 8px;
    font-size: 9pt;
    min-height: 25px;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: var(--menu-hairline);
    outline: none;
    top: 0;
    background-color: var(--widget-background-color);
    position: sticky;
}

.projects_table_filter:focus {
    border-color: var(--text-color);
}

body.dark .projects_table_filter:focus {
    border-color: var(--text-color-dark);
}

/* General */
.clickable_row:hover {
    cursor: pointer;
    background-color: var(--leaf-hover);
}

body.dark .clickable_row:hover {
    cursor: pointer;
    background-color: var(--leaf-hover-dark);
}

.clickable {
    cursor: pointer;
}

body.waiting * {
    cursor: progress;
}

.no_flex tbody td {
    flex: 0 !important;
    min-width: revert !important;
}

.no_flex tbody tr {
    display: revert !important;
}
